/* 노멀라이징 */
* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}

/* 라이브러리 */
.cell {
  float: left;
}

.cell-r {
  float: right;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

/* 스타일 */
input {
  outline: none;
}

/* 배너 메뉴 툴 */
.wrap-box {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* 상단 bar */
.wrap-box > .top-bar-box {
  width: 1920px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.2);
  background-color: #fff;

  z-index: 3;
}

/* login, logo 정렬 */
.wrap-box > .top-bar-box > .logo-box,
.wrap-box > .top-bar-box > .login-box {
  flex-grow: 1;
}

/* 로고  */
.wrap-box > .top-bar-box > .logo-box {
  position: relative;
}

.wrap-box > .top-bar-box > .logo-box > li {
  width: 100px;
  height: 80px;
}

.wrap-box > .top-bar-box > .logo-box a > img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50px;
}

/* login  */
.wrap-box > .top-bar-box > .login-box {
  display: flex;
  width: 250px;
  font-size: 30px;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.wrap-box > .top-bar-box > .login-box div {
  position: absolute;
  left: 0;
  bottom: 20px;
}

.wrap-box > .top-bar-box > .login-box > li > a > i {
  position: absolute;
  right: 60px;
  bottom: 30px;
}

.wrap-box > .top-bar-box > .login-box div > .se-icon {
  position: absolute;
  bottom: 10px;
  right: 0px;
}

.wrap-box > .top-bar-box > .login-box div > input {
  width: 280px;
  height: 50px;
  border: none;
  border-bottom: 1px solid;
}

.wrap-box > .top-bar-box > .login-box > .lo-box .toggle-menu {
  position: absolute;
  top: 60px;
  left: 280px;
  transition: 0.5s;
  height: 0;
  overflow: hidden;
}

.wrap-box > .top-bar-box > .login-box > .lo-box .toggle-menu.active {
  top: 60px;
  left: 280px;
  height: 120px;
  offset: 1;
}

.wrap-box > .top-bar-box > .login-box > li .toggle-menu > ul {
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08);
  border: 3px solid #dadada;
  background-color: #fff;
}

.wrap-box > .top-bar-box > .login-box > li .toggle-menu li {
  font-size: 15px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.wrap-box > .top-bar-box > .login-box > li {
  margin: 0 20px;
}

/*  메뉴 커스텀 (1차메뉴) */
.wrap-box > .top-bar-box > .menu-box {
  flex-grow: 5;
  display: flex;
  justify-content: space-between;
}

.wrap-box .top-bar-box > .menu-box > li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #666;
}

.wrap-box > .top-bar-box > .menu-box > li > a {
  position: relative;
}

.wrap-box > .top-bar-box > .menu-box > li > a:hover {
  color: #333;
  text-decoration: underline;
}

.wrap-box > .top-bar-box > .menu-box > li > .a-1::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #000;
  border-radius: 100%;
  position: absolute;
  right: -11px;
  top: 0px;
}

.wrap-box > .top-bar-box > .menu-box > li > a:hover::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #000;
  border-radius: 100%;
  position: absolute;
  right: -11px;
  top: 0px;
}

/* 2차 메뉴*/
.wrap-box > .top-bar-box > .menu-box > li > .nav-2-menu {
  position: absolute;
  left: 0;
  width: 100%;
  top: 100%;
  background-color: #f1f8ff;
  transition: 0.8s;
  height: 0;
  overflow: hidden;
}

.wrap-box > .top-bar-box > .menu-box:hover > li > .nav-2-menu {
  height: 180px;
}

.wrap-box > .top-bar-box > .menu-box .menu-1 {
  position: absolute;
  left: 580px;
  width: 100px;
  height: 100%;
  text-align: center;
  padding: 10px 0;
}

.wrap-box > .top-bar-box > .menu-box .menu-2 {
  width: 100px;
  height: 100%;
  position: absolute;
  left: 830px;
  text-align: center;
  padding: 10px 0;
}

.wrap-box > .top-bar-box > .menu-box ul > li {
  padding: 20px 0;
  font-size: 15px;
}

.wrap-box > .top-bar-box > .menu-box > li > .nav-2-menu > ul > li:hover {
  font-weight: bold;
  text-decoration: underline;
  color: #333;
}

/*축제 정보 페이지 구현 시작*/

.outtrack {
  background-color: #f0ffff;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  gap: 400px;
}

/*달력 구현*/

.wrapper {
}

.wrapper > h1 {
  margin-bottom: 50px;
  text-align: center;
}

.wrapper > h2 {
  text-align: center;
}
.wrapper > h2 > span {
  background-color: skyblue;
  border-radius: 5px;
  margin-bottom: 20px;
  color: black;
  opacity: 0.7;
  display: inline-block;
  padding: 5px;
}

.container-calendar {
  background: #ffffff;
  padding: 15px;
  max-width: 475px;
  margin: 0 auto;
  overflow: auto;
}

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #00a2b7;
  color: #fff;
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar td,
.table-calendar th {
  padding: 5px;
  border: 1px solid #e2e2e2;
  text-align: center;
  vertical-align: top;
}

.date-picker.selected {
  font-weight: bold;
  outline: 1px dashed #00bcd4;
}

.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}

/* Sunday */
.date-picker:nth-child(1) {
  color: red;
}

/* Saturday */
.date-picker:nth-child(7) {
  color: navy;
}

#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

#previous {
  float: left;
}

#next {
  float: right;
}

.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}

/*체크박스*/
.selectlist {
  font-family: segoe ui;
  width: flex;
  letter-spacing: 7px;

}
.selectlist > container {
  user-select: none;
}

.selectlist > h2 {
  margin-top : 100px;
  font-size: 20;

}

.selectlist > h2 > span {
  text-align: center;
  background-color: skyblue;
  border-radius: 5px;
  color: black;
  opacity: 0.7;
  margin-bottom: 20px;
  display: inline-block;
  padding: 5px;
}

/*축제 정보 페이지 구현 끝*/

/* 하단 부터는 축제 리스트 페이지 구현 시작*/

.ListTitle > h1 {
  margin-left: 200px;
  margin-top: 80px;
}

.festival-list {
  display: flex;
  flex-wrap: wrap; /* 화면 크기에 맞게 줄바꿈 */
  justify-content: space-between; /* 아이템들을 좌우로 분산 정렬 */
  margin-top: 80px;
  margin-left: 180px;
  margin-right: 180px;
  cursor: pointer;
}

.festival-item {
  width: calc(
    25% - 20px
  ); /* 한 줄에 4개씩 아이템 표시, 여백을 포함한 폭 설정 */
  height: auto;
  margin-bottom: 100px; /* 아이템 아래 여백 */

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.festival-item img {
  width: 350px; /* 이미지 너비 */
  height: 700px; /* 이미지 비율 유지 */
}

.festival-item h2 {
  font-size: 20px;
  margin: 10px;
  margin-top: 20px;
}

.festival-item p {
  font-size: 16px;
  margin: 10px;
  margin-top: 20px;
}

.festival-pagination {
  margin-top: 20px; /* 페이지 번호와 축제 리스트 간격 조절 */
  margin-bottom: 40px;
  text-align: center; /* 페이지 번호 가운데 정렬 */
}

.festival-pagination ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* 페이지 번호 수평 중앙 정렬 */
}

.page-number {
  margin: 0 5px; /* 페이지 번호 간격 조절 */
  font-size: 25px; /* 페이지 번호 글꼴 크기 */
}

.page-number a {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: #333; /* 페이지 번호 색상 */
  padding: 10px 20px; /* 페이지 번호 내 여백 */
  border: 1px solid #ccc; /* 페이지 번호 테두리 설정 */
  border-radius: 5px; /* 페이지 번호 모서리 둥글게 */
  transition: background-color 0.3s; /* 호버 효과 애니메이션 설정 */
}

.page-number a:hover {
  background-color: skyblue; /* 호버 시 배경색 변경 */
  color: white; /* 호버 시 텍스트 색상 변경 */
}

.current-page a {
  background-color: skyblue;
  color: white;
  border-color: #ccc;
}
