/* 노멀라이징 */
* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}

/* 라이브러리 */
.cell {
  float: left;
}

.cell-r {
  float: right;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

/* 스타일 */
input {
  outline: none;
}

/* 배너 메뉴 툴 */
.wrap-box {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/*축제 정보 페이지 구현 시작*/
.outtrack {
  background-color: #f0ffff;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-left : -250px;
  gap: 250px;
}

/*달력 구현*/
.wrapper {
}

.wrapper > h1 {
  margin-bottom: 50px;
  margin-top : 20px;
  text-align: left;
  margin-left:300px;
}

.wrapper > h2 {
  text-align: center;
}

.wrapper > h2 > span {
  background-color: skyblue;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left:300px;
  color: black;
  opacity: 0.7;
  display: inline-block;
  padding: 5px;
}

.container-calendar {
  background: #ffffff;
  padding: 15px;
  max-width: 575px;
  height: 350px;
  margin: 0 auto;
  overflow: auto;
  box-shadow: 1px 1px 1px 1px silver;
  margin-left:300px;
}

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #00a2b7;
  color: #fff;
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar td,
.table-calendar th {
  padding: 5px;
  border: 1px solid #e2e2e2;
  text-align: center;
  vertical-align: top;
}

.date-picker.selected {
  font-weight: bold;
  outline: 1px dashed #00bcd4;
}

.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}

/* Sunday */
.date-picker:nth-child(1) {
  color: red;
}

/* Saturday */
.date-picker:nth-child(7) {
  color: navy;
}

#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

#previous {
  float: left;
}

#next {
  float: right;
}

.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}

/*체크박스 구현*/
.selectlist > h2{
  margin-left : 180px;
}
.image-container {
  position: relative;
  display: inline-block; /* 이미지와 체크박스를 수평으로 정렬하기 위해 */
}

.image-container > img {
  margin-left: 100px;
  height: 400px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px silver;
}

.searchall {
  position: absolute;
  left : 300px;
  top : 350px;
  font-weight: bold;
  color: navy;
}

.seoul {
  position: absolute;
  top: 85px;
  left: 200px;
}

.incheon {
  position: absolute;
  top: 100px;
  left: 180px;
}

.gyeonggi {
  position: absolute;
  top: 120px;
  left: 200px;
}

.gangwon {
  position: absolute;
  top: 80px;
  left: 300px;
}

.chungbuk {
  position: absolute;
  top: 130px;
  left: 260px;
}

.chungnam {
  position: absolute;
  top: 150px;
  left: 160px;
}

.daejeon {
  position: absolute;
  top: 180px;
  left: 225px;
}

.sejong {
  position: absolute;
  top: 165px;
  left: 225px;
}

.kyeongbuk {
  position: absolute;
  top: 180px;
  left: 320px;
}

.kyeongnam {
  position: absolute;
  top: 270px;
  left: 280px;
}

.daegu {
  position: absolute;
  top: 220px;
  left: 310px;
}

.ulsan {
  position: absolute;
  top: 250px;
  left: 338px;
}

.busan {
  position: absolute;
  top: 270px;
  left: 338px;
}

.jeonbuk {
  position: absolute;
  top: 230px;
  left: 200px;
}

.gwangju {
  position: absolute;
  top: 280px;
  left: 185px;
}

.jeonnam {
  position: absolute;
  top: 300px;
  left: 180px;
}

.jeju {
  position: absolute;
  top: 370px;
  left: 130px;
}
/*체크박스 끝*/

.selectlist > container {
  user-select: none;
  margin-top: 100px;
  border: solid;
}

.selectlist > h2 {
  margin-top: 100px;
  font-size: 20;
}

.selectlist > h2 > span {
  text-align: center;
  background-color: skyblue;
  border-radius: 5px;
  color: black;
  opacity: 0.7;
  margin-bottom: 20px;
  display: inline-block;
  padding: 5px;
}

.selectlist > .button{
  width : 150px;
  height: 100px;
}

.localborder{
  border: 1px solid black;
  background-color : white;
  height: 280px;
  padding-top : 40px;
}

.localborder > img{
  width: 250px;
  height: 280px;
  position: relative;
  display: inline-block;
}

.localborder > .cc{
  top : -200px;
}
/*지역별 검색 구현 끝*/

/*분야별 검색 구현 시작*/
.searchtype > h2 {
  margin-top: 100px;
  margin-left: 100px;
  font-size: 20;
  text-align : center;
}

.searchtype > h2 > span{
  text-align: center;
  background-color: skyblue;
  border-radius: 5px;
  color: black;
  opacity: 0.7;
  margin-bottom: 20px;
  display: inline-block;
  padding: 5px;
}

.radiolocal{
  background-color : white;
  height: 380px;
  width: 300px;
  margin-left : 100px;
  font-size : 18px;
  line-height: 35px;
  border-radius : 5px;
  padding : 10px;
  box-shadow: 1px 1px 1px 1px silver;
}
/*축제 정보 페이지 구현 끝*/

/* 하단 부터는 축제 리스트 페이지 구현 시작*/
.ListTitle > h1 {
  margin-left: 200px;
  margin-top: 80px;
}

.festival-list {
  display: flex;
  flex-wrap: wrap; /* 화면 크기에 맞게 줄바꿈 */
  justify-content: space-between; /* 아이템들을 좌우로 분산 정렬 */
  margin-top: 80px;
  margin-left: 180px;
  margin-right: 180px;
  cursor: pointer;
}

.festival-item {
  width: calc(
    25% - 20px
  ); /* 한 줄에 4개씩 아이템 표시, 여백을 포함한 폭 설정 */
  height: auto;
  margin-bottom: 100px; /* 아이템 아래 여백 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.festival-item img {
  width: 350px; /* 이미지 너비 */
  height: 400px; /* 이미지 비율 유지 */
}

.festival-item h2 {
  font-size: 20px;
  margin: 10px;
  margin-top: 20px;
}

.festival-item p {
  font-size: 16px;
  margin: 10px;
  margin-top: 20px;
}

.festival-pagination {
  margin-top: 20px; /* 페이지 번호와 축제 리스트 간격 조절 */
  margin-bottom: 40px;
  text-align: center; /* 페이지 번호 가운데 정렬 */
}

.festival-pagination ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* 페이지 번호 수평 중앙 정렬 */
}

.page-number {
  margin: 0 5px; /* 페이지 번호 간격 조절 */
  font-size: 25px; /* 페이지 번호 글꼴 크기 */
}

.page-number a {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: #333; /* 페이지 번호 색상 */
  padding: 10px 20px; /* 페이지 번호 내 여백 */
  border: 1px solid #ccc; /* 페이지 번호 테두리 설정 */
  border-radius: 5px; /* 페이지 번호 모서리 둥글게 */
  transition: background-color 0.3s; /* 호버 효과 애니메이션 설정 */
}

.page-number a:hover {
  background-color: skyblue; /* 호버 시 배경색 변경 */
  color: white; /* 호버 시 텍스트 색상 변경 */
}

.current-page a {
  background-color: skyblue;
  color: white;
  border-color: #ccc;
}
