/*  폰트 스타일*/
@font-face {
  font-family: "Humanbumsuk";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2")
  format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "omyu_pretty";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
  format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 노멀라이징 */
* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}

/* 스타일 */

/* 로딩 팝업창 시작 */
.modal {
  display: block;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  text-align: center;
  border: 3px solid #87cefa;
  background-color: #fff;
  margin: 10% auto;
  padding: 10px;
  width: 80%;
  max-width: 450px;
  border-radius: 25px;
}

.modal-content > .hight {
  display: inline-table;
  position: relative;
  overflow: hidden;
  color: rgba(173, 216, 230, 0.9);
  font-family: "Humanbumsuk";
  text-shadow: 1px 1px 2px rgba(173, 216, 230, 0.9);
  opacity: 0;
}

.modal-content > .hight::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: all 0.35s;
}

.modal-content > .text {
  font-size: 30px;
  font-weight: bold;
  opacity: 0;
}

.modal-content:hover span {
  font-size: 30px;
  font-weight: bold;
  opacity: 1;
}

.modal-content:hover .hight::before {
  left: 0;
}

.close {
  color: #000000;
  float: right;
  font-size: 35px;
  font-weight: 900;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.modal .modal-content button {
  width: 150px;
  height: 40px;
  display: block;
  border: 1px solid skyblue;
  border-radius: 10px;
  background-color: #ffffff;
  font-weight: bold;
}

.modal .modal-content button:hover {
  background-color: #009be2;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

/* 로딩 팝업창 끝 */

/* 배너 메뉴 툴 */
.wrap-box {
  width: 1920px ;
  margin: 0 auto;
  position: relative;
}

/* 상단 슬라이드 */

/* 슬라이드 컨테이너 스타일 */
.wrap-box .slick-wrap {
  width: 100%;
  margin-top: 150px ;
}

/* 각 슬라이드 아이템 스타일 */
.wrap-box .slick-content {
  width: 100%;
  overflow: hidden ;
  text-align: center;
  padding: 30px;
  position: relative;
}

.wrap-box .slick-wrap .slick-content .img {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  transition: 0.8s;
}

.wrap-box .slick-wrap .slick-content:hover span{
  opacity: 1;
}

.wrap-box .slick-wrap .slick-content .img:hover{
  transform: scale(1.1);
}

/* 글자 */
.wrap-box .slick-wrap .slick-content span{
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  padding: 40px 20px;
  opacity: 0 ;
  transition: opacity 0.7s;
  color: white;
  font-size: 35px ;
  border: 3px groove white ;
  font-weight: bold ;
  border-radius: 10px;
  font-family: 'omyu_pretty';
}

/* 센터 모드 활성화 */
.wrap-box .slick-slider {
  text-align: center;
}

/* 슬라이드 간의 간격 설정 (원하는 값으로 조절) */
.wrap-box .slick-slide {
  margin: 0 10px; /* 좌우 여백 조절 */
}

.wrap-box .slick-slide {
  transition: opacity 0.5s ease-in-out; /* 부드러운 투명도 전환을 위한 CSS3 트랜지션 설정 */
}

/* 현재 활성화된 슬라이드는 투명도 1 (원래 크게 나타남) */
.wrap-box .slick-slide.slick-center {
  opacity: 1;
  border-radius:30px ;
}


/* 양 끝쪽 슬라이드는 투명도를 낮춤 (작게 나타남) */
.wrap-box .slick-content {
  opacity: 0.3; /* 원하는 투명도 값으로 조정 */
}

/* 각 슬라이더 이미지 svg로 할 것 */
.wrap-box .slick-wrap .slick-content .img-1 {
  background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA4MjlfODAg%2FMDAxNjYxNzUyODcxODgx.A0IEYUaQtDH0eTZXUWfqV0m0YhlmYdJqh4OWoIfF5xQg.Zz-cgarBDhN5OlzmuLsNMBuTXt4IgizsHw13a1jSgbAg.JPEG.discoverincheon%2F2021_%25EC%25A4%2591%25EA%25B5%25AC_%25EA%25B0%259C%25ED%2595%25AD%253F%259E%25A5_mbc%253F%2595%2584%253F%258A%25B8_%253F%259A%25A9%253F%2597%25AD_%253F%2582%25B4%25EB%25B6%253F%25EB%25B3%25B4%25EA%253F%253F%259A%25A9_%25283%2529.jpg&type=sc960_832");
}

.wrap-box .slick-wrap .slick-content .img-2 {
  background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fimgnews.naver.net%2Fimage%2F032%2F2019%2F10%2F23%2F0002970238_001_20191023160322987.jpg&type=sc960_832");
}

.wrap-box .slick-wrap .slick-content .img-3 {
  background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjEwMDlfMjM3%2FMDAxNjY1MjU3MDQyNjMx.LQzG_imcYz3JUkocaRV3vJ5lltHQ0vVDGQRvVCyfeW4g.xcJVjR4-8w29TxFvKHTGSOuTh85-NUOlKshdEVBR_dUg.JPEG.namuansoop%2FCW3A8974.jpg&type=sc960_832");
}

.wrap-box .slick-wrap .slick-content .img-4 {
  background-image: url(" https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjEwMDVfMjM5%2FMDAxNjY0OTcxMzUxNzY3.xMCG7EQKynJgM9Jw8TditXsWcayC4kSPkzN6tqG8ttcg.Q1iXbk7lPON0BI5Jvmyk0_bn2cmVLFJ61oPaCAch1Fwg.JPEG.valerion0826%2FKakaoTalk_20221005_194038172_11.jpg&type=sc960_832");
}

.wrap-box .slick-wrap .slick-content .img-5 {
  background-image: url(" https://search.pstatic.net/common/?src=http%3A%2F%2Fimgnews.naver.net%2Fimage%2F421%2F2019%2F08%2F03%2F0004128522_003_20190803204624646.jpg&type=sc960_832");
}

.wrap-box .slick-wrap .slick-content .img-6 {
  background-image: url(" https://search.pstatic.net/common/?src=http%3A%2F%2Fimage.nmv.naver.net%2Fblog_2021_10_04_1330%2F9d56afca-246a-11ec-8678-48df379cca40_01.jpg&type=sc960_832");
}

.wrap-box .slick-wrap .slick-content .img-7 {
  background-image: url("https://search.pstatic.net/sunny/?src=http%3A%2F%2Ftong.visitkorea.or.kr%2Fcms%2Fresource%2F86%2F2993586_image2_1.JPG&type=sc960_832");
}

.wrap-box .slick-wrap .slick-content .img-8 {
  background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fimgnews.naver.net%2Fimage%2F5151%2F2016%2F05%2F30%2F2016053015094090410_00_947_99_20160530154506.jpg&type=sc960_832");
}

.wrap-box .slick-wrap .slick-content .img-9 {
  background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA2MjBfMjgw%2FMDAxNjU1Njg3MzU5Mjky.x24_mcAkf2QPo_xRKU4kH44m1GEAmQpxnnv1fvc4G7og.EQDYP4x-5NflBUHqLT7M2AKfJvsiZM47ZeeCFFsdV08g.JPEG.pinegn%2F%25B1%25D7%25B8%25B2__15.jpg&type=sc960_832");
}

.wrap-box .slick-wrap .slick-content .img-10 {
  background-image: url("https://search.pstatic.net/common/?src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20230503_26%2F1683073402947aEB0E_JPEG%2F%25C3%25BB%25B5%25B5%25C7%25C1%25B7%25CE%25B9%25E6%25BD%25BA_%25283%2529.JPG");
}

/* next, prve 버튼  */
.wrap-box .btn-icon {
  color: #fff;
  font-size: 80px;
  position: absolute;
  top: 10%;
  cursor: pointer;
}

.wrap-box .right-icon {
  right: 16.5%;
}

.wrap-box .left-icon {
  position: absolute;
  left: 16.5%;
}

/* next, prve 버튼  끝 */

/*  도트 변경 */
.wrap-box .slick-wrap .slick-dots li {
  width: auto;
  height: auto;
  transition: 1s;
}

.wrap-box .slick-wrap .slick-dots li.slick-active button {
  width: 40px;
  background-color: #567ff2;
}

.wrap-box .slick-wrap .slick-dots li button {
  background-color: #b1b1b1;
  border-radius: 50px;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.wrap-box .slick-wrap .slick-dots li button:before {
  content: "";
}

/* 도트변경 끝 */


/* 상단 슬라이드 끝 */

/* 축제 추천 섹션 */

.wrap-box > .main-container-box {
  max-width: 1920px;
  margin-top: 100px ;
margin-top: 100px ;
}

.wrap-box > .main-container-box > .reply-main-box {
  height: 600px;
}

.wrap-box > .main-container-box > .reply-main-box > .reply-box {
  width: 940px;
  height: 600px;
  margin: 0 auto;
}

.wrap-box > .main-container-box > .reply-main-box > .reply-box i {
  font-size: 60px;
  color: #3b91ff;
  margin-top: 20px;
  margin-left: 20px;
}

.wrap-box > .main-container-box > .reply-main-box > .reply-box i > span {
  font-weight: normal;
  margin-left: 20px;
  margin-right: 30px;
  font-family: "omyu_pretty";
}

.wrap-box > .main-container-box > .reply-main-box > .reply-box .reply-text {
  font-size: 20px;
  font-weight: bold;
  color: #3b91ff;
}

.wrap-box > .main-container-box > .reply-main-box .img-reply-box {
  width: 100%;
  height: 420px;
  margin-top: 20px;
}

.wrap-box > .main-container-box > .reply-main-box ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background: #567ff2;
  border-radius: 10px;
  box-shadow: 10px 10px 30px 0px rgba(69, 111, 228, 0.3);
}

.wrap-box > .main-container-box > .reply-main-box ul > li {
  width: 100%;
  height: 50px;
}

.wrap-box > .main-container-box > .reply-main-box ul > li > a {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}
.wrap-box > .main-container-box > .reply-main-box ul > .menu2 > a::before,
.wrap-box > .main-container-box > .reply-main-box ul > .menu3 > a::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background: #a3b9f5;
  position: absolute;
  left: 0;
  top: 17px;
}

.wrap-box > .main-container-box > .reply-main-box ul > .menu1 > a:focus,
.wrap-box > .main-container-box > .reply-main-box ul > .menu2 > a:focus,
.wrap-box > .main-container-box > .reply-main-box ul > .menu3 > a:focus {
  color: #a6bdfe;
}

.wrap-box > .main-container-box > .reply-main-box ul > .menu1 > a:focus::after,
.wrap-box > .main-container-box > .reply-main-box ul > .menu2 > a:focus::after,
.wrap-box > .main-container-box > .reply-main-box ul > .menu3 > a:focus::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  width: 15px;
  height: 8px;
  background: url(https://korean.visitkorea.or.kr/resources/images/main/menu_curation_arw.png)
  no-repeat;
}

.wrap-box > .main-container-box > .reply-main-box .img-reply-box > p {
  font-size: 16px;
  color: #333;
  text-align: center;
  padding: 20px 0;
}

.wrap-box > .main-container-box > .reply-main-box .img-reply-box > p::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: -4px;
  background: url(https://korean.visitkorea.or.kr/resources/images/main/icon_curation_txt.png)
  no-repeat;
  color: black;
}

.wrap-box
> .main-container-box
> .reply-main-box
.img-reply-box
> .ani-img-box {
  max-width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.wrap-box
> .main-container-box
> .reply-main-box
.img-reply-box
> .ani-img-box
> .img-box {
  width: 200px;
  height: 300px;
  margin: 0 2px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.wrap-box
> .main-container-box
> .reply-main-box
.img-reply-box
> .ani-img-box
> .img-box
> .img::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #202020;
  display: block;
  opacity: 0;
  transition: 0.4s;
}

.wrap-box
> .main-container-box
> .reply-main-box
.img-reply-box
> .ani-img-box
> .img-box:hover
> .img::before {
  opacity: 0.5;
}

.wrap-box
> .main-container-box
> .reply-main-box
.img-reply-box
> .ani-img-box
> .img-box
> .img:hover {
  transform: scale(1.3);
}

.wrap-box
> .main-container-box
> .reply-main-box
.img-reply-box
> .ani-img-box
> .img-box
> .img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: 0.4s;
}

.wrap-box
> .main-container-box
> .reply-main-box
.img-reply-box
> .ani-img-box
> .img-box
> .img-1 {
  background-image: url("https://korean.visitkorea.or.kr/kfes/upload/contents/db/300_387cfe24-b54f-464d-a06d-c1599d7eba59_1.jpg");
}

.wrap-box
> .main-container-box
> .reply-main-box
.img-reply-box
> .ani-img-box
> .img-box
> .img-2 {
  background-image: url(https://korean.visitkorea.or.kr/kfes/upload/contents/db/300_67584c27-a881-451a-9947-fa08e54b1b72_1.jpg);
}

.wrap-box
> .main-container-box
> .reply-main-box
.img-reply-box
> .ani-img-box
> .img-box
> .img-3 {
  background-image: url(https://korean.visitkorea.or.kr/kfes/upload/contents/db/300_9cffea82-aeba-4925-b68c-f4eb68bc2585_1.png);
}

.wrap-box
> .main-container-box
> .reply-main-box
.img-reply-box
> .ani-img-box
> .img-box
> .img-4 {
  background-image: url(https://korean.visitkorea.or.kr/kfes/upload/contents/db/300_449344da-1a0f-45a5-9d00-73011ab3aa3c_1.jpg);
}

.wrap-box
> .main-container-box
> .reply-main-box
.img-reply-box
> .ani-img-box
> .img-box
> a {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 1px solid white;
  padding: 5px 15px;
  opacity: 0;
  transition: 0.4s;
}

.wrap-box
> .main-container-box
> .reply-main-box
.img-reply-box
> .ani-img-box
> .img-box:hover
> a {
  opacity: 1;
}
/* 오늘의 축제소식 */

.text-wrap {
  width: 960px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  margin-top: 60px;
  margin-bottom: 100px;
}

.text-wrap > img {
  width: 400px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), -3px -3px 5px rgba(0, 0, 0, 0.2);
}

.text-wrap > .text-box {
  width: 540px;
  height: 100%;
  margin-left: 50px;
}

.text-wrap p {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
  font-family: "omyu_pretty";
}

.text-wrap .text-news {
  padding: 20px 20px;
  background-color: #e2e3e5;
  margin-top: 10px;
}

.text-wrap .text-news .text-1 {
  padding: 8px;
  border-radius: 50px;
  background-color: #eff1f0;
  font-size: 20px;
  font-weight: bold;
}

.text-wrap .text-news .text-2 {
  font-size: 20px;
  font-weight: 500;
}

.text-wrap .text-news .text-2 b {
  color: lightcoral;
}

.text-wrap .text-section {
  margin-top: 15px;
  padding: 10px 0;
}

.text-wrap .text-section:hover {
  text-decoration: underline;
}

.text-wrap .text-section .text-3 {
  color: lightcoral;
}

.text-wrap .text-section span {
  font-size: 25px;
  font-weight: 600;
}

/* 오늘의 축제 소식 끝 */

/* 하단 배너 슬릭 슬라이드 */
.slider-wrap-2 {
  width: 1920px;
  margin: 0 auto;

}

.slider-wrap-2 .slier-content-2 a img {
  width: 1920px;
  height: 130px;
  z-index: 1;
}

/* 하단 배너 슬릭 슬라이드 */

/* 억새축제 설명 */
.margin-box {
  margin-top: 150px;
}

.section-box {
  width: 940px;
  height: 700px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}

.section-box > .se-img-box {
  width: 400px;
  overflow: hidden;
}

.section-box > .se-img-box img {
  max-width: 100%;
  height: 650px;
  border-radius: 15px;
}

.section-box > .se-text-box {
  width: 540px;
  height: 700px;
}

.section-box > .se-text-box > h1 {
  text-align: center;
  color: #ff4851;
  font-size: 50px;
  text-shadow: 3px 1px 2px rgba(120, 50, 87, 0.5);
  font-family: "omyu_pretty";
}

.section-box > .se-text-box > h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.section-box > .se-text-box > .t-box {
  padding: 20px 20px;
}

.section-box > .se-text-box > .t-box > p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-box > .se-text-box > .t-box > .body {
  letter-spacing: 3px;
  line-height: 2.5;
  padding-top: 30px;
}

/* 억새축제 설명 끝 */