/*  폰트 스타일*/
@font-face {
  font-family: "Humanbumsuk";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2")
  format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 라이브러리 */
* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}

/* 마이페이지 */
input,
button {
  outline: none;
}

.my-wrap {
  width: 1600px;
  height: 900px ;
  margin: 0 auto;
  margin-top: 80px ;
  display: flex;
}

/* 왼쪽 섹션 */
.my-wrap > .id-section {
  width: 600px;
  box-shadow: 5px 1px 8px 0 rgba(0, 0, 0, 0.06);
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}

.my-wrap > .id-section p {
  font-family: "Humanbumsuk";
  color: rgba(173, 216, 230, 0.9);
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 30px;
  width: 200px;
}

.my-wrap > .id-section h1 {
  font-weight: 600;
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.my-wrap > .id-section .avatar {
  width: 100%;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

/* 이미지 박스 */
.my-wrap > .id-section .img-box {
  width: 5.75rem;
  height: 6rem;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 0 0 1.5px rgba(59, 130, 246, 1);
  outline: 2px solid rgba(0, 0, 0, 0.05);
  outline-offset: 2px;
  position: relative; /* 부모 요소에 대해 상대적으로 배치 */
}

/* 이미지 */
.my-wrap > .id-section img {
  width: 5.75rem;
  height: 6rem;
  border-radius: 50%;
}

/* 프로필 사진 변경 버튼 */
.my-wrap > .id-section .change-profile-button {
  position: absolute;
  bottom: -10px;
  right: -10px;
  background-color: #3b91ff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 15px;
}



.my-wrap > .id-section h2 {
  text-align: center;
  font-weight: 600;
  font-size: 35px;
}

.my-wrap > .id-section h4 {
  text-align: center;
  font-weight: 400;
}

.my-wrap > .id-section ul {
  font-size: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-wrap > .id-section li {
  width: 100%;
  text-align: center;
  margin-bottom: 4rem;
}

.my-wrap > .id-section li:hover {
  text-decoration: underline;
  font-weight: 700;
}

/* 오른쪽 색션 */
.my-wrap > .ch-section {
  width: 1000px;
  background-color: #f9fbfc;
}

/* 정보수정 폼 */
/* 회원가입 */
.join-box {
  width: 800px;
  height: auto;
  margin: 0 auto;
  margin-top: 120px;
}

.form-box {
  width: 800px;
  margin: 0 auto;
}

.join-box form .join-icon-box {
  position: relative;
}

.join-box form table {
  width: 100%;
}

.join-box form table .table-box {
  width: 100%;
  height: 50px;
  box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  border: 1px solid #dadada;
}

.join-box form table .table-box th {
  width: 90%;
  height: 100%;
  margin-bottom: 10px;
  display: flex;
  margin-right: 10px;
  line-height: 45px;
}

.join-box form table .table-box .user {
  width: 200px;
  height: 100%;
  border-right: 1px solid #dadada;
  padding-right: 10px;
}

.join-box form table .table-box .body {
  height: 100%;
  width: 100%;
  padding-left: 20px;
  text-align: start;
}

.join-box form table .table-box td {
  width: 70px;
  height: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
}

.join-box form table .table-box .pro-text {
  padding-left: 40px;
  font-size: 20px;
}

.join-box form table .table-box button {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08);
  border: 1px solid #dadada;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}

.join-box form table .table-box button:hover {
  border: 2px solid #3b91ff;
  background-color: #f0f8ff;
  color: black;
  font-weight: bold;
}

.join-box form .join-icon-box .phone {
  position: absolute;
  top: 15px;
  left: 15px;
}


form > .form-box .submit:nth-child(1){
  margin-right: 20px ;
}

form > .form-box .submit {
  width: 100%;
  height: 50px;
  box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08);
  border: 1px solid #dadada;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}

form > .form-box > .submit:hover {
  border: 2px solid #3b91ff;
  background-color: #f0f8ff;
  color: black;
  font-weight: bold;
}

/* 비밀번호 팝업 변경창 */
.modal {
  /*   display: none; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal .modal-content button:hover {
  border: 1px solid #3b91ff;
  background-color: #f0f8ff;
  color: black;
  font-weight: bold;
  z-index: 999;
}
/* 비밀번호 팝업 변경창 끝 */

/* 프로모션 on off */
.btn {
  width: 100%;
  height: 100%;
  background-color: #f50c53;
  color: white;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  border-radius: 50px;
}

/* 초기 Off 상태의 스타일 */
#toggleBtn {
  background-color: #ff0000; /* 빨간색 배경 */
  color: #fff; /* 흰색 텍스트 */
}

/* On 상태의 스타일 */
#toggleBtn.on {
  background-color: #00ff00; /* 초록색 배경 (ON 상태) */
  color: #000; /* 검정색 텍스트 (ON 상태) */
}
/* 팝업 스타일 */
#notificationBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffcc00; /* 노란색 배경 */
  padding: 10px;
  text-align: center;
  display: none; /* 초기에는 숨겨진 상태 */
  z-index: 2;
}