/* 노멀라이징 */
* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}


/* 스타일 */
input {
  outline: none;
}

/* 배너 메뉴 툴 */
.wrap-box {
  width: 1920px ;
  margin: 0 auto;
  position: relative;
}

/* 상단 bar */
.wrap-box > .top-bar-box {
  width: 1920px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.2);
  background-color: #fff;

  z-index: 3;
}

/* login, logo 정렬 */
.wrap-box > .top-bar-box > .logo-box,
.wrap-box > .top-bar-box > .login-box {
  flex-grow: 1;
}

/* 로고  */
.wrap-box > .top-bar-box > .logo-box {
  position: relative;
}

.wrap-box > .top-bar-box > .logo-box > li {
  width: 100px;
  height: 80px;
}

.wrap-box > .top-bar-box > .logo-box a > img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50px;
}

/* login  */
.wrap-box > .top-bar-box > .login-box {
  display: flex;
  width: 250px;
  font-size: 30px;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.wrap-box > .top-bar-box > .login-box div {
  position: absolute;
  left: 0;
  bottom: 20px;
}

.wrap-box > .top-bar-box > .login-box > li  i {
  position: absolute;
  right: 60px;
  bottom: 30px;

}

.wrap-box > .top-bar-box > .login-box div > .se-icon {
  position: absolute;
  bottom: 10px;
  right: 0px;
}

.wrap-box > .top-bar-box > .login-box div > input {
  width: 280px;
  height: 50px;
  border: none;
  border-bottom: 1px solid;
}

.wrap-box > .top-bar-box > .login-box > .lo-box .toggle-menu {
  position: absolute;
  top: 60px;
  left: 280px;
  transition: 0.5s;
  height: 0;
  overflow: hidden;
}

.wrap-box > .top-bar-box > .login-box > .lo-box .toggle-menu.active {
  top: 60px;
  left: 280px;
  height: 120px;
  offset: 1;
}

.wrap-box > .top-bar-box > .login-box > li .toggle-menu > ul {
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08);
  border: 3px solid #dadada;
  background-color: #fff;
}

.wrap-box > .top-bar-box > .login-box > li .toggle-menu li {
  font-size: 15px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.wrap-box > .top-bar-box > .login-box > li {
  margin: 0 20px;
}

/*  메뉴 커스텀 (1차메뉴) */
.wrap-box > .top-bar-box > .menu-box {
  flex-grow: 5;
  display: flex;
  justify-content: space-between;
}

.wrap-box .top-bar-box > .menu-box > li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #666;
}

.wrap-box > .top-bar-box > .menu-box > li > a {
  position: relative;
}

.wrap-box > .top-bar-box > .menu-box > li > a:hover {
  color: #333;
  text-decoration: underline;
}

.wrap-box > .top-bar-box > .menu-box > li > .a-1::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #000;
  border-radius: 100%;
  position: absolute;
  right: -11px;
  top: 0px;
}

.wrap-box > .top-bar-box > .menu-box > li > a:hover::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #000;
  border-radius: 100%;
  position: absolute;
  right: -11px;
  top: 0px;
}

/* 2차 메뉴*/
.wrap-box > .top-bar-box > .menu-box > li > .nav-2-menu {
  position: absolute;
  left: 0;
  width: 100%;
  top: 100%;
  background-color: #f1f8ff;
  transition: 0.8s;
  height: 0;
  overflow: hidden;
}

.wrap-box > .top-bar-box > .menu-box:hover > li > .nav-2-menu {
  height: 190px;
/*  2차 메뉴 높이 수정할 때 사용*/
}

.wrap-box > .top-bar-box > .menu-box .menu-1 {
  position: absolute;
  left: 580px;
  width: 100px;
  height: 100%;
  text-align: center;
  padding: 10px 0;
}

.wrap-box > .top-bar-box > .menu-box .menu-2 {
  width: 100px;
  height: 100%;
  position: absolute;
  left: 830px;
  text-align: center;
  padding: 10px 0;
}

.wrap-box > .top-bar-box > .menu-box .menu-3 {
  position: absolute;
  width: 100px;
  height: 100%;
  left: 69% ;
  text-align: center;
  padding: 10px 0;
}

.wrap-box > .top-bar-box > .menu-box ul > li {
  padding: 20px 0;
  font-size: 15px;
}

.wrap-box > .top-bar-box > .menu-box > li > .nav-2-menu > ul > li:hover {
  font-weight: bold;
  text-decoration: underline;
  color: #333;
}
/* 메뉴 끝 */