.faq-box {
  width: 1100px;
  height: auto ;
  margin: auto ;
  margin-top: 40px ;
  margin-bottom: 100px;
  box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08);
  padding:10px;
}

.faq-box__question {
  cursor:pointer;
}

.faq-box__question::after {
  content:"[+]";
  float:right;
}

.faq-box > ul > li {
  padding:10px;
}
.faq-box > ul > li> .faq-box__question {
  display: flex;
}

.faq-box > ul > li> .faq-box__question span:nth-child(3){
  flex-grow: 2 ;
}

.faq-box > ul > li> .faq-box__question span {
  flex-grow: 1 ;
}

.faq-box > ul > li.hover > .faq-box__question::after {
  content:"[-]";
}

.faq-box__answer {
  display:none;
  background-color:#f1f8ff ;
  margin-top: 20px ;
  margin-bottom: 20px ;
  border-radius: 5px ;
  padding:10px;
}

.festival-pagination {
  margin-top: 50px; /* 페이지 번호와 축제 리스트 간격 조절 */
  margin-bottom : 40px;
  text-align: center; /* 페이지 번호 가운데 정렬 */

}

.festival-pagination ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* 페이지 번호 수평 중앙 정렬 */
}

.page-number {
  margin: 0 5px; /* 페이지 번호 간격 조절 */
  font-size: 25px; /* 페이지 번호 글꼴 크기 */
}

.page-number a {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: #333; /* 페이지 번호 색상 */
  padding: 10px 20px; /* 페이지 번호 내 여백 */
  border: 1px solid #ccc; /* 페이지 번호 테두리 설정 */
  border-radius: 5px; /* 페이지 번호 모서리 둥글게 */
  transition: background-color 0.3s; /* 호버 효과 애니메이션 설정 */
}

.page-number a:hover {
  background-color: skyblue; /* 호버 시 배경색 변경 */
  color: white; /* 호버 시 텍스트 색상 변경 */
}

.current-page a {
  background-color: skyblue;
  color: white;
  border-color: #ccc;
}

/*추가한 css*/
/*리스트의 텍스트*/
.faq-box__text {
    display: flex;
    align-items: center; /* 텍스트 수직 정렬 */
    padding: 10px;
    background-color: #f1f8ff; /* 배경색 추가 */
    border-radius: 5px;
}
.faq-box__text span {
    flex-grow: 1;
}
.faq-box__text span:last-child {
    margin-right: 0; /* 마지막 텍스트 오른쪽 마진 제거 */
}
/*작성 버튼*/
.q_write a {
    border: 3px solid #58D3F7;
}
/* 게시물 간 구별을 위한 스타일 */
.post-item {
    border-bottom: 1px solid #ddd; /* 옅은 회색의 밑줄 스타일 지정 */
    padding-bottom: 10px; /* 밑줄과 게시물 내용 간의 간격 조절 (원하는 크기로 조정) */
}