/*  폰트 스타일*/
@font-face {
  font-family: "Humanbumsuk";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 노멀라이징 */
* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}

/* 라이브러리 */
.cell {
  float: left;
}

.cell-r {
  float: right;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

/* 스타일 */

/* 회원가입  */
/* 글자 */
.join-box {
  position: relative;
  width: 500px;
  height: auto;
  margin: 0 auto;
}

.logo-text {
  position: absolute;
  top: -85px;
  text-align: left;
  font-family: "Humanbumsuk";
  color: rgba(173, 216, 230, 0.9);
  font-size: 32px;
  font-weight: bold;
}

h1 {
  margin-top: 100px;
  text-align: center;
  font-family: "Humanbumsuk";
  font-size: 50px;
}

/* 회원가입 */
input,
select {
  outline: none;
}

.join-box > form select:focus,
.join-box > form input:focus {
  border: 2px solid #3b91ff;
}

select:hover,
input:hover {
  cursor: pointer;
}

.form-box {
  width: 450px;
  margin: 0 auto;
}

.join-box form .join-icon-box {
  position: relative;
}

.join-box form .join-icon-box .id {
  position: absolute;
  top: 47px;
  left: 15px;
}

.join-box form .join-icon-box .ps {
  position: absolute;
  top: 15px;
  left: 15px;
}

.join-box form .join-icon-box .p-text {
  padding: 0 10px;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.join-box form .join-icon-box .name {
  position: absolute;
  top: 15px;
  left: 15px;
}

.join-box form .join-icon-box .injig {
  position: absolute;
  top: 28px;
  left: 15px;
}

form > .form-box .id-box {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  padding: 0 40px;
  box-sizing: border-box;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08);
  border: 1px solid #dadada;
  border-radius: 10px;
}

form > .form-box .pass-box {
  width: 100%;
  height: 50px;
  padding: 0 40px;
  box-sizing: border-box;
  box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08);
  border: 1px solid #dadada;
  border-radius: 10px;
}
form > .form-box .name-box {
  width: 100%;
  height: 50px;
  padding: 0 40px;
  box-sizing: border-box;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08);
  border: 1px solid #dadada;
  border-radius: 10px;
}
form > .form-box .phone-box {
  width: 49%;
  height: 50px;
  padding: 0 40px;
  box-sizing: border-box;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08);
  border: 1px solid #dadada;
  border-radius: 10px;
}
form > .form-box .niname-box {
  width: 100%;
  height: 50px;
  padding: 0 40px;
  box-sizing: border-box;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08);
  border: 1px solid #dadada;
  border-radius: 10px;
}
form > .form-box .bir-box {
  width: 100%;
  height: 50px;
  padding: 0 40px;
  box-sizing: border-box;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08);
  border: 1px solid #dadada;
  border-radius: 10px;
}
form > .form-box .content-box {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  resize: none;
  padding: 0 40px;
  box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08);
  border: 1px solid #dadada;
  border-radius: 10px;
}

form > .form-box select {
  width: 100%;
  height: 50px;
  padding: 0 40px;
  box-sizing: border-box;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08);
  border: 1px solid #dadada;
  border-radius: 10px;
}

form > .form-box .phone-box {
  width: 100%;
  height: 50px;
  padding: 0 40px;
  box-sizing: border-box;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08);
  border: 1px solid #dadada;
  border-radius: 10px;
}

form > .form-box .insig-box {
  width: 100%;
  height: 50px;
  padding: 0 40px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08);
  border: 1px solid #dadada;
  border-radius: 10px;
}

form > .form-box .text {
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}

form > .form-box .submit {
  width: 100%;
  height: 50px;
  box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08);
  border: 1px solid #dadada;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}

form > .form-box > .submit:hover {
  border: 2px solid #3b91ff;
  background-color: #f0f8ff;
  color: black;
  font-weight: bold;
}
