<footer th:fragment="footerFragment">
    <div class="fo-box">
        <div class=top-text-box>
            <a href="#">회사소개</a>
            <a href="#">인재채용</a>
            <a href="#">제휴문의</a>
            <a href="#">공지사항</a>
            <a href="#">고객의 소리</a>
            <a href="#">이용약관</a>
            <a href="#">개인정보 처리방침</a>
            <a href="#">신뢰관리센터</a>
            <a class="last-a" href="#">광고안내</a>
        </div>

        <div class="text-img-box">
            <div class="logo-img ">
                <img src="https://cdn.jsdelivr.net/gh/gsw05018/test-img/a.svg" alt="">

            </div>
            <div class="text-box">
                <span>상호명 : 또 뭐하지 또 가지뭐 </span>
                <span>대전광역시 서구 둔산동 1620 </span>
                <span>사업자등록번호 : 152-58526-5622 </span>
                <span>대표전화 : 1525-5695</span>

            </div>
            <div class="img-box">
                <img src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fstatic.cdninstagram.com%2Frsrc.php%2Fy4%2Fr%2FQaBlI0OZiks.ico&type=f30_30_png_expire24" alt="인스타">
                <img src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fstatic.xx.fbcdn.net%2Frsrc.php%2FyD%2Fr%2Fd4ZIVX-5C-b.ico&type=f30_30_png_expire24" alt="페이스북">
                <img src="https://ditto-phinf.pstatic.net/20210723_31/1627021597323oRzlG_PNG/5d3c0da5322c633ba0b263bd9cf237dd.png" alt="트위터">
                <img src="https://ditto-phinf.pstatic.net/20210616_262/16238289515335cO6m_PNG/a64ab8e0ef09990ea93ee15480e39914.png" alt="네이버 블로그">
                <img src="https://search.pstatic.net/sunny?src=https%3A%2F%2Fmap.kakao.com%2Ffavicon.ico&type=f30_30_png_expire24" alt="카카오 지도">
                <p> gsw050181162@gmail.com </p>
                <p> 모든 축제에 정확한 정보를 보고 싶다면 </p>

                <p> '뭐하지 또! 또 가지 뭐!'</p>

            </div>
        </div>
    </div>
</footer>