<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
</head>

<body>

<!--   로그인  -->
<div layout:fragment="content" class="input-login-box">
    <a href="/"><h1>뭐하지 또? 또가지 뭐!</h1></a>
    <div class="login-top-box">
        <form  th:action="@{/user/login}" method="post">
        <div class="form-box" >
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    사용자ID 또는 비밀번호를 확인해 주세요.
                </div>
            </div>
            <div class="id-icon-box">
                <i class="fa-regular fa-user"></i>
                <input class="id-box" type="text" placeholder="아이디" autocomplete="on">
            </div>
            <div class="pass-icon-box">
                <i class="fa-solid fa-key"></i>
                <input class="pass-box" type="password" placeholder="비밀번호">
            </div>

            <div><input class="check-box" type="checkbox"> <span>로그인 기억하기</span></div>

            <button class="submit">로그인</button>

        </div>
        </form>

    </div>
    <div class="text-box">
        <a class="id" href="#" title="아이디 찾기"><span>아이디 찾기</span></a>
        <a class="password" href="#" title="비밀번호 찾기"><span>비밀번호 찾기</span></a>
        <a class="join" th:href="@{/user/signup}" title="회원가입"><span>회원가입</span></a>
    </div>
</div>
<!-- 로그인 끝 -->


</body>
</html>