<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  외부 파일 css, js   -->
    <link rel="stylesheet" href="/main.css">
    <script th:src="@{/main.js}"></script>
    <!--slick slider 필요 태그 st-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css">
    <!-- slick Carousel CDN -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
    <!--slick slider 필요 태그 en-->
</head>

<title>뭐하지 또 또 가지 뭐</title>

<body>
<div layout:fragment="content" class="container my-3">


    <!-- 로딩 팝업창 -->
    <div id="imageModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <h1>어서오세요</h1>
            <span class="hight"> 뭐하지 또? 또 가지 뭐!</span> <span class="text">입니다</span>
            <img src="https://raw.githubusercontent.com/gsw05018/test-img/2d03d016e8ec7462b1bcbae1215789f4a5b1893a/a.svg" alt="이미지 설명">
            <button id="closeButton">다시 보지 않기</button>
        </div>
    </div>
    <!-- 로딩 팝업창 끝 -->

    <div class="wrap-box">
        <!-- 상단바 -->
        <div class="slick-wrap">
            <!--    이미지 1  -->
            <div class="slick-content ">
                <a href="https://www.culturenight.co.kr" target="_blank" alt="인천개항장 문화여행">
                    <div class="img img-1"></div>
                    <span>인천개항장 문화재 야행</span>
                </a>
            </div>
            <!--    이미지 2  -->
            <div class="slick-content ">
                <a href="https://apap7.or.kr:446/ko" target="_blank" alt="안양공공예술프로젝트">
                    <div class="img img-2"></div>
                    <span>안양공공 예술 프로젝트</span>
                </a>
            </div>

            <!--   이미지 3  -->
            <div class="slick-content ">
                <a href="http://www.bfo.or.kr/main/index.asp" target="_blank" alt="부산 불꽃 축제">
                    <div class="img img-3"></div>
                    <span>부산 불꽃 축제</span>
                </a>
            </div>

            <!--  이미지 4  -->
            <div class="slick-content ">
                <a href=" https://worldheritage.modoo.at/" target="_blank" alt="세계 유산 축전">
                    <div class="img img-4"></div>
                    <span>세계 유산 축전</span>
                </a>
            </div>

            <!--  이미지 5  -->
            <div class="slick-content ">
                <a href="https://www.instagram.com/starry_night_busan/" target="_blank" alt="별바다 부산 나이트패스타">
                    <div class="img img-5"></div>
                    <span>별바다 부산 나이트 패스타</span>
                </a>
            </div>

            <!--  이미지 6  -->
            <div class="slick-content ">
                <a href=" https://korean.visitkorea.or.kr/kfes/detail/fstvlDetail.do?fstvlCntntsId=22059c53-b1f2-4ff5-9336-c43569809e21" target="_blank" alt="제주 민속촌 귀몽">
                    <div class="img img-6"></div>
                    <span>제주 민속촌 귀몽</span>
                </a>
            </div>

            <!--  이미지 7  -->
            <div class="slick-content ">
                <a href="https://www.koreanfolk.co.kr/" target="_blank" alt="한국 민속촌 조선살인수사">
                    <div class="img img-7"></div>
                    <span>한국 민속촌 조선 살인수사</span>
                </a>
            </div>

            <!--  이미지 8  -->
            <div class="slick-content">
                <a href="https://www.hibimf.org/" target="_blank" alt="부산 국제 맥주 페스티벌">
                    <div class="img img-8"></div>
                    <span>부산 국제 매직 페스티벌</span>
                </a>
            </div>

            <!--  이미지 9  -->
            <div class="slick-content">
                <a href="https://www.instagram.com/gnbuskingholic/" target="_blank" alt="강릉 버스킹 홀릭">
                    <div class="img img-9"></div>
                    <span>강릉 버스킹 홀릭</span>
                </a>
            </div>

            <!--  이미지 10  -->
            <div class="slick-content">
                <a href=" http://www.cheongdo-provence.co.kr/" target="_blank" alt="청도 프로방스 빛축제">
                    <div class="img img-10"></div>
                    <span>청도 프롭아스 빛축제</span>
                </a>
            </div>

        </div>

        <!-- next, prve, 버튼 -->
        <i class="btn-icon left-icon fa-solid fa-chevron-left"></i>
        <i class="btn-icon right-icon fa-solid fa-chevron-right"></i>
        <!-- next, prve, 버튼 끝-->

        <!--    슬라이드 끝  -->

        <!-- 축제 추천 섹션 -->
        <section class="main-container-box">
            <div class="reply-main-box">
                <div class="reply-box">
                    <div class="logo-text-box">
                        <i class="fa-solid fa-car-side"><span>축제 콕콕 </span></i>
                        <span class="reply-text">직접 다녀온 리뷰데이터 기준으로 추천해드려요.</span>
                    </div>

                    <div class="img-reply-box">
                        <div class="rpey-menu-box">
                            <ul>
                                <li class="menu1" tabindex="0"><a href="#" onclick="">감성 축제</a></li>
                                <li class="menu2" tabindex="0"><a href="#">E의축제</a></li>
                                <li class="menu3" tabindex="0"><a href="#">먹거리축제</a></li>
                            </ul>
                        </div>
                        <p>솔직, 담백 리뷰 분석 완료! 잊지못할 축제를 추천해드릴게요.</p>
                        <div class="ani-img-box">
                            <div class="img-box">
                                <div class="img img-1"></div>
                                <a href="https://www.culturenight.co.kr/" target="_blank">view</a>
                            </div>
                            <div class="img-box">
                                <div class="img img-2"></div>
                                <a href="https://apap7.or.kr:446/ko" target="_blank">view</a>
                            </div>
                            <div class="img-box">
                                <div class="img img-3"></div>
                                <a href="https://www.instagram.com/9.81park/" target="_blank">view</a>
                            </div>
                            <div class="img-box">
                                <div class="img img-4"></div>
                                <a href="https://www.koreanfolk.co.kr/" target="_blank">view</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 오늘의 축제 소식 -->
            <div class="text-wrap">
                <img src="https://dxtimes.co.kr/news/data/20230329/p1065621271184596_488_h2.png" alt="전국축제일정사진">
                <div class="text-box">
                    <p>오늘의 축제 소식</p>
                    <div class="text-news">
                        <span class="text-1">오늘의 축제소식</span>
                        <span class="text-2">축제의 계절 <b>가을</b>이 찾아왔습니다!</span>
                    </div>
                    <div class="text-section"><a href="https://korean.visitkorea.or.kr/kfes/detail/fstvlDetail.do?fstvlCntntsId=8be85dd0-3223-4e21-9cf8-57b3b429db66" target="_blank">
                        <span class="text-3">흥이 가득한 축제 | </span>
                        <span class="text-4">세종썸머 페스티벌로 개최 </span> </a>
                    </div>
                    <div class="text-section"><a href="http://www.hellomuseum.com/" target="_blank">
                        <span class="text-3">감성 충전 미술관 | </span>
                        <span class="text-4">헬로우 뮤지옴 </span> </a>
                    </div>
                    <div class="text-section"><a href="https://www.yeongdo.go.kr/ydfestival.web" target="_blank">
                        <span class="text-3">근대 문화 속으로 | </span>
                        <span class="text-4">영도 다리 축제 개최 </span> </a>
                    </div>
                    <div class="text-section"><a href="http://www.gylaf.kr/" target="_blank">
                        <span class="text-3">거리예술의 모든 것 | </span>
                        <span class="text-4">고양 호수 예술축제 개최 </span> </a>
                    </div>
                </div>
            </div>

            <!-- 하단 배너 슬릭 슬라이드 -->
            <div class="slider-wrap-2">
                <div class="slier-content-2">
                    <a href="https://www.thefestival.co.kr/news/all/3660/" target="_blank">
                        <img src="https://www.thefestival.co.kr/upfile/banner/24579_1693143103.png" alt="갈암종가">
                    </a>
                </div>
                <div class="slier-content-2">
                    <a href="https://www.thefestival.co.kr/community/event/92" target="_blank">
                        <img src="https://www.thefestival.co.kr/upfile/banner/81824_1690549699.png" alt="캠페인">
                    </a>
                </div>
                <div class="slier-content-2">
                    <a href="https://www.thefestival.co.kr/info/festival/9181/" target="_blank">
                        <img src="https://www.thefestival.co.kr/upfile/banner/56287_1692456625.jpg" alt="고추축제">
                    </a>
                </div>
                <div class="slier-content-2">
                    <a href="https://www.thefestival.co.kr/news/all/3661/" target="_blank">
                        <img src="https://www.thefestival.co.kr/upfile/banner/17072_1692686199.png" alt="백세각">
                    </a>
                </div>
            </div>
            <!-- 하단 배너 슬릭 슬라이드 끝 -->

            <!-- 억새축제 섹션 -->
            <div class="margin-box">
                <div class="section-box">
                    <div class="se-img-box">
                        <!--    이미지 1  -->
                        <div class="slick-img-box">
                            <a href="https://www.seogu.gwangju.kr/sgfesta/">
                                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDA4MDdfMTMg%2FMDAxNTk2NzMzNTg5NTY1.JsTbnisScF5RhsEcoJDDR1KYsYPhH_7SMp3pf4Iv2hEg.sqA0_Cl8-5P6pQNy0mkFioEFl5ZCLZGIn9G5nH0c-JUg.JPEG.codud57%2FIMG_7007.jpg&type=sc960_832" alt="단풍사진"></a>
                        </div>
                        <!--    이미지 2  -->
                        <div class="slick-img-box">
                            <a href="https://www.seogu.gwangju.kr/sgfesta/">
                                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fimgnews.naver.net%2Fimage%2F5002%2F2019%2F10%2F08%2F0001335254_001_20191008115604295.jpg&type=sc960_832" alt="단풍사진"></a>
                        </div>
                        <!--    이미지 3  -->
                        <div class="slick-img-box">
                            <a href="https://www.seogu.gwangju.kr/sgfesta/">
                                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxODEwMDlfMjY1%2FMDAxNTM5MDU2NzgyODAw.oZS1e7bZhiUF_0b3E0FdF7WTw5OsRp-fY4pxysZ3Pzwg.rWSYfhW42j9cr6kMrZX8abnrm_YcAouV9Pm_W9bAHHIg.JPEG.aura0419%2FYGS04687-HDR.jpg&type=sc960_832" alt="단풍사진"></a>
                        </div>
                        <!--    이미지 4  -->
                        <div class="slick-img-box">
                            <a href="https://www.seogu.gwangju.kr/sgfesta/">
                                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTEwMjVfNTAg%2FMDAxNjM1MTYzMzAxMzM4.kIjVTGYg0oegRjVUiGx1jnHfxubZ_sbeSjpxt1mlxmgg.9bglOdvnGCZgCqHRIPrFOJYJnmybXnAGjXI1KH-koNIg.JPEG.ggamanglee%2FIMG_6573.jpg&type=sc960_832" alt="단풍사진"></a>
                        </div>
                    </div>

                    <!--  오른쪽 글   -->
                    <div class="se-text-box">
                        <h1>억새 축제 알아보기</h1>
                        <h2>광주 서창 억새축제</h2>
                        <div class="t-box">
                            <p>기간 : 2023.10.06. (금) ~ 2023.10.10. (화)</p>
                            <p>장소 : 영산강 자전거길 안내센터 앞</p>
                            <p> 요금 : 무료</p>
                            <p class="body">영산강변 테마가있는 산책로를 걸으며 특색있는 걷기프로그램과 함께 FUN한 가을포토존에서 인생샷을 찍고 즐길수있는 축제이다. 3.5km에 이르는 대규모 억새군락지에 펼쳐진 다양한 문화예술 행사와 체험프로그램 및 감성이 녹아든 도심속에 있는 가을을 최대로 만끽할 수 있는 생태환경축제이다.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 억새축제 섹션 끝 -->

        </section>
    </div>


</div>

</body>
</html>