<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="wrap-box">
        <!-- 상단바 -->
        <div class="menu-banner-box">

            <!--     슬라이드 시작 -->
            <div class="slick-wrap">
                <!--    이미지 1  -->
                <div class="slick-content ">
                    <a href="https://www.culturenight.co.kr" target="_blank" alt="인천개항장 문화여행">
                        <div class="img img-1"></div>
                        <span>인천개항장 문화재 야행</span>
                    </a>
                </div>
                <!--    이미지 2  -->
                <div class="slick-content ">
                    <a href="https://apap7.or.kr:446/ko" target="_blank" alt="안양공공예술프로젝트">
                        <div class="img img-2"></div>
                        <span>안양공공 예술 프로젝트</span>
                    </a>
                </div>

                <!--   이미지 3  -->
                <div class="slick-content ">
                    <a href="https://www.instagram.com/9.81park/" target="_blank" alt="피카츄 프로젝트">
                        <div class="img img-3"></div>
                        <span>9 81파크 하늘 나는 피카츄 프로젝트</span>
                    </a>
                </div>

                <!--  이미지 4  -->
                <div class="slick-content ">
                    <a href=" https://worldheritage.modoo.at/" target="_blank" alt="세계 유산 축전">
                        <div class="img img-4"></div>
                        <span>세계 유산 축전</span>
                    </a>
                </div>

                <!--  이미지 5  -->
                <div class="slick-content ">
                    <a href="https://www.instagram.com/starry_night_busan/" target="_blank" alt="별바다 부산 나이트패스타">
                        <div class="img img-5"></div>
                        <span>별바다 부산 나이트 패스타</span>
                    </a>
                </div>

                <!--  이미지 6  -->
                <div class="slick-content ">
                    <a href=" https://korean.visitkorea.or.kr/kfes/detail/fstvlDetail.do?fstvlCntntsId=22059c53-b1f2-4ff5-9336-c43569809e21"
                       target="_blank" alt="제주 민속촌 귀몽">
                        <div class="img img-6"></div>
                        <span>제주 민속촌 귀몽</span>
                    </a>
                </div>

                <!--  이미지 7  -->
                <div class="slick-content ">
                    <a href="https://www.koreanfolk.co.kr/" target="_blank" alt="한국 민속촌 조선살인수사">
                        <div class="img img-7"></div>
                        <span>한국 민속촌 조선 살인수사</span>
                    </a>
                </div>

                <!--  이미지 8  -->
                <div class="slick-content">
                    <a href="https://www.hibimf.org/" target="_blank" alt="부산 국제 맥주 페스티벌">
                        <div class="img img-8"></div>
                        <span>부산 국제 매직 페스티벌</span>
                    </a>
                </div>

                <!--  이미지 9  -->
                <div class="slick-content">
                    <a href="https://www.instagram.com/gnbuskingholic/" target="_blank" alt="강릉 버스킹 홀릭">
                        <div class="img img-9"></div>
                        <span>강릉 버스킹 홀릭</span>
                    </a>
                </div>

                <!--  이미지 10  -->
                <div class="slick-content">
                    <a href=" http://www.cheongdo-provence.co.kr/" target="_blank" alt="청도 프로방스 빛축제">
                        <div class="img img-10"></div>
                        <span>청도 프롭아스 빛축제</span>
                    </a>
                </div>
            </div>

            <!-- next, prve, 버튼 -->
            <i class="btn-icon left-icon fa-solid fa-chevron-left"></i>
            <i class="btn-icon right-icon fa-solid fa-chevron-right"></i>
            <!-- next, prve, 버튼 끝-->

            <!--    슬라이드 끝  -->
        </div>

        <!-- 축제 추천 섹션 -->
        <section class="main-container-box">
            <div class="reply-main-box">
                <div class="reply-box">
                    <div class="logo-text-box">
                        <i class="fa-solid fa-car-side"><span>축제 콕콕 </span></i>
                        <span class="reply-text">직접 다녀온 리뷰데이터 기준으로 추천해드려요.</span>
                    </div>

                    <div class="img-reply-box">
                        <div class="rpey-menu-box">
                            <ul>
                                <li class="menu1" tabindex="0"><a href="#" onclick="">감성 축제</a></li>
                                <li class="menu2" tabindex="0"><a href="#">E의축제</a></li>
                                <li class="menu3" tabindex="0"><a href="#">먹거리축제</a></li>
                            </ul>
                        </div>
                        <p>솔직, 담백 리뷰 분석 완료! 잊지못할 축제를 추천해드릴게요.</p>
                        <div class="ani-img-box">
                            <div class="img-box">
                                <div class="img img-1"></div>
                                <a href="https://www.culturenight.co.kr/" target="_blank">view</a>
                            </div>
                            <div class="img-box">
                                <div class="img img-2"></div>
                                <a href="https://apap7.or.kr:446/ko" target="_blank">view</a>
                            </div>
                            <div class="img-box">
                                <div class="img img-3"></div>
                                <a href="https://www.instagram.com/9.81park/" target="_blank">view</a>
                            </div>
                            <div class="img-box">
                                <div class="img img-4"></div>
                                <a href="https://www.koreanfolk.co.kr/" target="_blank">view</a>
                            </div>
                        </div>

                        <div class="btn-box">
                            <button type="button">
                                <a href="">오늘의 축제 추천</a></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 오늘의 축제 소식 -->
            <div class="text-wrap">
                <img src="https://dxtimes.co.kr/news/data/20230329/p1065621271184596_488_h2.png" alt="전국축제일정사진">
                <div class="text-box">
                    <p>오늘의 축제 소식</p>
                    <div class="text-news">
                        <span class="text-1">오늘의 축제소식</span>
                        <span class="text-2">축제의 계절 <b>가을</b>이 찾아왔습니다!</span>
                    </div>
                    <div class="text-section"><a
                            href="https://korean.visitkorea.or.kr/kfes/detail/fstvlDetail.do?fstvlCntntsId=8be85dd0-3223-4e21-9cf8-57b3b429db66"
                            target="_blank">
                        <span class="text-3">흥이 가득한 축제 | </span>
                        <span class="text-4">세종썸머 페스티벌로 개최 </span> </a>
                    </div>
                    <div class="text-section"><a href="http://www.hellomuseum.com/" target="_blank">
                        <span class="text-3">감성 충전 미술관 | </span>
                        <span class="text-4">헬로우 뮤지옴 </span> </a>
                    </div>
                    <div class="text-section"><a href="https://www.yeongdo.go.kr/ydfestival.web" target="_blank">
                        <span class="text-3">근대 문화 속으로 | </span>
                        <span class="text-4">영도 다리 축제 개최 </span> </a>
                    </div>
                    <div class="text-section"><a href="http://www.gylaf.kr/" target="_blank">
                        <span class="text-3">거리예술의 모든 것 | </span>
                        <span class="text-4">고양 호수 예술축제 개최 </span> </a>
                    </div>
                </div>
            </div>

            <!-- 하단 배너 슬릭 슬라이드 -->
            <div class="slider-wrap-2">
                <div class="slier-content-2">
                    <a href="https://www.thefestival.co.kr/news/all/3660/" target="_blank">
                        <img src="https://www.thefestival.co.kr/upfile/banner/24579_1693143103.png" alt="갈암종가">
                    </a>
                </div>
                <div class="slier-content-2">
                    <a href="https://www.thefestival.co.kr/community/event/92" target="_blank">
                        <img src="https://www.thefestival.co.kr/upfile/banner/81824_1690549699.png" alt="캠페인">
                    </a>
                </div>
                <div class="slier-content-2">
                    <a href="https://www.thefestival.co.kr/info/festival/9181/" target="_blank">
                        <img src="https://www.thefestival.co.kr/upfile/banner/56287_1692456625.jpg" alt="고추축제">
                    </a>
                </div>
                <div class="slier-content-2">
                    <a href="https://www.thefestival.co.kr/news/all/3661/" target="_blank">
                        <img src="https://www.thefestival.co.kr/upfile/banner/17072_1692686199.png" alt="백세각">
                    </a>
                </div>
            </div>
            <!-- 하단 배너 슬릭 슬라이드 끝 -->
        </section>
    </div>

    <script>
        // 로딩 팝업 창
        window.onload = function () {
            var modal = document.getElementById("imageModal");
            var closeModal = document.getElementById("closeModal");

            // 모달 닫기 함수
            function closeModalFunc() {
            modal.style.display = "none";
            }

            // "닫기" 아이콘 클릭 시 모달 닫기
            closeModal.addEventListener("click", closeModalFunc);

            // 모달 외부 클릭 시 모달 닫기
            window.addEventListener("click", function (event) {
                if (event.target == modal) {
                    closeModalFunc();
                }
            });

            // 페이지 로드 시 모달 열기
            modal.style.display = "block";
        };
        // 로딩 팝업 창 끝

    // 슬릭 슬라이더 옵션추가
    $(document).ready(function () {
      $(".slick-wrap").slick({
        autoplay: true, // 자동 슬라이드
        autoplaySpeed: 2000, // 자동슬라이드 넘어가지는 속도 (ms)
        arrows: true, // 화살표 만들기.
        dots: true, // 하단 닷츠 네비게이션 활성화
        draggable: true, // 드래그로 슬라이드변경 허용 여부
        fade: false, // fade in , fade out 활성화
        infinite: true, // 무한이 옆으로 흐르게 만드는 슬라이드
        initialSlide: 0, // 처음에 활성화 될 슬라이드 번호 (인덱스 번호로)
        prevArrow: $(".left-icon"),
        nextArrow: $(".right-icon"),
        pauseOnHover: true, //마우스가 올라갔을 때 이동 여부
        pauseOnDotsHover: true, // 마우스가 닷츠에 올라갓을때 이동 여부
        cssEase: "linear", // transition-timing-function 적용하기 큐빅배지어도가능
        speed: 300, //슬라이드가 넘어가지는 속도 (ms)
        centerMode: true, // 센터 모드 활성화
        centerPadding: "250px", // 중앙 슬라이드와 주변 슬라이드 사이의 간격 (원하는 값으로 조정)
        draggable: true, //드래그 가능 여부
        slidesToShow: 1 // 동시에 보여질 슬라이드 수 (롯데렌터카와 동일하게 조정)
      });
    });
    // 슬릭 슬라이더 끝

    // 이미지 호버 js
    $(".hover").mouseleave(function () {
      $(this).removeClass("hover");
    });
    // 이미지 호버 끝

    // 하단 배너 슬릭 슬라이드
    $(document).ready(function () {
      $(".slider-wrap-2").slick({
        autoplay: true, // 자동 슬라이드
        autoplaySpeed: 2000, // 자동슬라이드 넘어가지는 속도 (ms)
        dots: true, // 하단 닷츠 네비게이션 활성화
        draggable: true, // 드래그로 슬라이드변경 허용 여부
        infinite: true, // 무한이 옆으로 흐르게 만드는 슬라이드
        initialSlide: 0, // 처음에 활성화 될 슬라이드 번호 (인덱스 번호로)
        pauseOnDotsHover: true, // 마우스가 닷츠에 올라갓을때 이동 여부
        cssEase: "linear", // transition-timing-function 적용하기 큐빅배지어도가능
        speed: 300, //슬라이드가 넘어가지는 속도 (ms)
        draggable: false //드래그 가능 여부
      });
    });
    //   하단 배너 슬릭 슬라이드 끝
    </script>
</div>
</html>