<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
</head>

<body>
<div layout:fragment="content" class="container my-3">
    <h1>로그인</h1>
    <div class="login-top-box">
        <form action="">
            <div class="form-box">
                <input class="id-box" type="text" placeholder="아이디">
                <input class="pass-box" type="password" placeholder="비밀번호">
                <div><input type="checkbox"> <span>로그인 기억하기</span></div>
                <button class="submit">로그인</button>
            </div>
        </form>
    </div>

    <div class="text-box">
        <a class="id" href="#"><span>아이디 찾기</span></a>
        <a class="password" href="#"><span>비밀번호 찾기</span></a>
        <a class="join" href="#"><span>회원가입</span></a>
    </div>
</div>
</body>

</html>