<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
    <h1>회원가입</h1>
    <!-- 회원가입 -->
    <form action="">
        <div class="form-box">
            <input class="id-box" type="text" placeholder="아이디를 입력하세요">
            <input class="pass-box" type="password" placeholder="비밀번호를 입력하세요">
            <input class="pass-box" type="password" placeholder="비밀번호를 다시 입력하세요">
            <input class="name-box" type="text" placeholder="이름를 입력하세요">
            <input class="niname-box" type="password" placeholder="닉네임를 입력하세요">
            <input class="bir-box" type="password" placeholder="생년월일를 입력하세요">
            <select name="" id="통신사">

                <option value="" selected>통신사 선택</option>
                <option value="">KT</option>
                <option value="">LGU+</option>
                <option value="">SKT</option>
            </select>
            <input class="phone-box" type="text" placeholder="전화번호">
            <button id="requestCodeBtn" class="submit">인증요청</button>
            <div id="verificationCode"></div> <!-- 인증번호를 표시할 요소 추가 -->
            <input class="insig-box" type="text" placeholder="인증번호를 입력하세요">
            <button class="submit">인증확인</button>
            <p class="text"><input class="agree-box" type="checkbox"> 개인정보 수집 및 이용 내용을 확인하였으며, 동의합니다. </p>
            <button class="submit">회원가입하기</button>
        </div>
    </form>

    <!-- 인증번호 요청 스크립트 -->
    <script>
        function generateVerificationCode() {
            const codeLength = 6;
            const min = Math.pow(10, codeLength - 1);
            const max = Math.pow(10, codeLength) - 1;
            const randomCode = Math.floor(Math.random() * (max - min + 1)) + min;

            return randomCode.toString().padStart(codeLength, '0');
        }

        $(document).ready(function() {
            $('#requestCodeBtn').click(function() {
                const verificationCode = generateVerificationCode();
                $('#verificationCode').text('인증번호: ' + verificationCode);
            });
        });

        /* 인증번호 요청 버튼 클릭시 새로고침 현상 막기 */
        $(document).ready(function() {
            $('#requestCodeBtn').click(function(event) {
                event.preventDefault(); // 기본 동작 막기

                const verificationCode = generateVerificationCode();
                $('#verificationCode').text('인증번호: ' + verificationCode);
            });
        });
    </script>
</div>
</html>