<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/mypage.css">
</head>

<body>
<div layout:fragment="content" class="container my-3" style="margin-top: 300px !important;">
    <h1>마이페이지</h1>
    <p>안녕하세요, <span th:text="${siteUser.username}"></span>님! 마이페이지에 오신 것을 환영합니다.</p>
    <!-- 필요한 유저 정보를 여기에 추가 하세요 -->
    <p>이름: <span th:text="${siteUser.name}"></span></p>
    <p>생년월일: <span th:text="${siteUser.birthdate}"></span></p>
    <p>이메일: <span th:text="${siteUser.email}"></span></p>
    <p>번호: <span th:text="${siteUser.phone}"></span></p>

    <button type="submit">정보 수정</button>
    <button type="submit">회원 탈퇴</button>
</div>
</body>
</html>