<html layout:decorate="~{layout}">

<head>

    <!-- CSS 불러오기 -->
    <link rel="stylesheet"  type="text/css " href="/mypage.css">

    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">

    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script layout:fragment="script" type="text/javascript" th:src="@{/mypage.js}"></script>

</head>

<title>My Page </title>
<body>
<!-- 마이페이지 -->
<div class="my-wrap" layout:fragment="content">
    <div class="id-section">

        <p class="logo-text">
            <a href="/" style="width: 200px;" >뭐하지 또? 또 가지 뭐! </a>
        </p>

        <h1>MY PAGE</h1>

        <!--     이미지    -->
        <div class="avatar">
            <div class="img-box">
                <img src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fi.pinimg.com%2F736x%2Ffe%2F94%2F01%2Ffe9401b82ec1a52d876b76774da990ac.jpg&type=sc960_832" alt="프로필 이미지">
                <label for="profileImageInput" class="change-profile-button"><span>변경</span></label>
                <input type="file" id="profileImageInput" style="display: none;">
            </div>
        </div>

        <!--   사용자이름  -->
        <h2>한인철</h2>
        <h4 style="margin-top: 10px ">gsw05018@naver.com</h4>

        <!--    메뉴   -->
        <ul class="">
            <li><a href="">정보 수정</a></li>
            <li><a href="">할인권 조회</a></li>
        </ul>

    </div>

    <div class="ch-section">
        <!--   정보수정 폼   -->
        <div class="join-box">
            <form action="">
                <div class="form-box">
                    <table>
                        <!-- 사용자 정보  -->
                        <tr class="table-box ">
                            <th><span class=" user">이름</span><span class="body">한인철</span></th>
                        </tr>
                        <tr class="table-box ">
                            <th><span class=" user">닉네임</span><span class="body">인처리리</span></th>
                        </tr>
                        <tr class="table-box ">
                            <th><span class=" user">이메일</span><span class="body ">gsw05018@naver.com</span></th>
                        </tr>
                        <tr class="table-box ">
                            <th><span class=" user">전화번호</span><span class="body">010-****-***4</span></th>
                        </tr>

                        <tr class="table-box ">
                            <th><span class=" user">집 주소</span><span class="body ">대전시 서구 가수원동 </span></th>
                        </tr>
                        <tr class="table-box ">
                            <th><span class="user">비밀번호</span><span class="body ">***********</span></th>
                            <td><button id="openModalButton">수정</button></td>
                        </tr>
                        <tr class="table-box ">
                            <th><span class="pro-text"> 핸드폰 프로모션 정보 통신 동의</span></th>
                            <td>
                                <div class="btn" id="toggleBtn">off</div>
                            </td>
                        </tr>
                    </table>

                    <button class="submit" id="otherButton">수정하기</button>
                </div>
            </form>
        </div>
        <!--   정보수정    -->

    </div>
</div>

<!-- On/Off 변경 시 상단에 나타날 안내창 -->
<div id="notificationBar"></div>

<!-- 모달 창 -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span id="closeModal" style="float: right; cursor: pointer;">닫기</span>
        <h2 style="text-align : center ;  margin-bottom : 30px ; font-size : 35px ;">비밀번호 변경</h2>
        <!-- 비밀번호 변경 양식 -->
        <form id="passwordChangeForm">
            <!-- 비밀번호 입력 필드 등을 여기에 추가 -->
            <label for="newPassword" style=" padding : 10px 20px ; font-size : 20px ; font-weight : 500 ; ">새 비밀번호 입력:</label>
            <input type="password" id="newPassword" name="newPassword" style="width : 50% ; height : 30px ; box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08); border: 1px solid #dadada;   border-radius: 10px; padding-left: 15px ;"><br><br>
            <label for="confirmPassword" style="padding : 10px 20px ; font-size : 20px ; font-weight : 500 ; ">새 비밀번호 확인:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" style="width : 50% ; height : 30px ; box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08); border: 1px solid #dadada;   border-radius: 10px; padding-left: 15px ; "><br><br>
            <button type="button" id="changePasswordButton" style="width: 100%; height: 50px; box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08); border: 1px solid #dadada; border-radius: 10px; background-color: #fff; cursor: pointer; margin-top : 30px ; ">비밀번호 변경</button>
        </form>
    </div>
</div>



</body>


</html>