<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <!-- 문자 인코딩과 화면 크기 설정 정의 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 외부 스타일시트에 연결 -->
    <link rel="stylesheet" href="/question_detail.css">
</head>

<body>
<div layout:fragment="content" class="container my-3" style="margin-top: 100px !important;">
    <!-- 질문을 표시합니다 -->
    <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <!-- 질문 내용을 Markdown 지원으로 표시합니다 -->
            <div class="card-text" th:utext="${@commonUtil.markdown(question.content)}"></div>
            <div class="d-flex justify-content-end">
                <!-- 수정된 날짜가 있는 경우 표시합니다 -->
                <div th:if="${question.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">수정됨</div>
                    <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <!-- 작성자의 사용자 이름과 작성일을 표시합니다 -->
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${question.author != null}" th:text="${question.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <!-- 추천 버튼과 추천 수를 표시합니다 -->
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/question/vote/${question.id}|}">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
                </a>
                <!-- 수정 버튼을 표시합니다 (작성자만 가능) -->
                <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="수정"></a>
                <!-- 삭제 버튼을 표시합니다 (작성자만 가능) -->
                <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>
    <!-- 답변의 갯수를 표시합니다 -->
    <h5 class="border-bottom my-3 py-2"
        th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
    <!-- 답변을 반복하여 표시합니다 -->
    <div class="card my-3" th:each="answer : ${question.answerList}">
        <a th:id="|answer_${answer.id}|"></a>
        <div class="card-body">
            <!-- 답변 내용을 Markdown 지원으로 표시합니다 -->
            <div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
            <div class="d-flex justify-content-end">
                <!-- 수정된 날짜가 있는 경우 표시합니다 -->
                <div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">수정됨</div>
                    <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <!-- 작성자의 사용자 이름과 작성일을 표시합니다 -->
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <!-- 추천 버튼과 추천 수를 표시합니다 -->
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/answer/vote/${answer.id}|}">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
                </a>
                <!-- 수정 버튼을 표시합니다 (작성자만 가능) -->
                <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="수정"></a>
                <!-- 삭제 버튼을 표시합니다 (작성자만 가능) -->
                <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>
    <!-- 답변 작성 양식을 표시합니다 -->
    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <!-- 로그인한 사용자에게만 활성화된 댓글 입력란을 제공합니다 -->
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control"
                  rows="10"></textarea>
        <!-- 로그인한 사용자에게만 활성화된 댓글 입력란을 제공합니다 -->
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
        <!-- 댓글 등록 버튼을 표시합니다 -->
        <input type="submit" value="댓글등록" class="btn btn-primary my-2">
    </form>
</div>
<script layout:fragment="script" type='text/javascript'>
    // 삭제 버튼에 대한 클릭 이벤트 리스너를 설정합니다.
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
    // 추천 버튼에 대한 클릭 이벤트 리스너를 설정합니다.
    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
</body>
</html>
