<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <!-- navbar.css를 모든 페이지에 포함 -->
    <link rel="stylesheet" type="text/css" th:href="@{/question_list.css}">
    <script type="text/javascript" th:src="@{/question_list.js}"></script>
    <!-- SweetAlert 2 스크립트 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
<!-- 리스트 박스 -->
<div class="list-box" layout:fragment="content">
    <h1 style="text-align: center;  margin-top: 100px ; ">축제의 생생한 리뷰 집합소 </h1>
    <div class="search-box">
        <input type="text" id="searchInput" placeholder="검색어를 입력하세요(작성자. 제목, 내용)">
        <button type="button"  class="create-btn" style="color:#000000; font-size: 15px ; width : 100px ; text-align : center ; box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08); border: 1px solid #dadada; border-radius: 10px; background-color: #fff; padding : 10px 10px ; "><a href="/question/create">리뷰</a></button>
    </div>

    <!-- 리스트 상단 바 -->
    <div class="article-list-box">
        <span>번호</span>
        <span>작성자</span>
        <span>작성날짜</span>
        <span>수정날짜</span>
        <span style="text-align : center;">제목</span>
        <span>답변 수</span>
    </div>
    <!-- 리스트 상단 바 끝 -->

    <div class="accordion">
        <!--리스트 목록(accordion안에서만 넣어야 작동 가능)-->
        <!--리스트 시작-->
        <div class="accordion-item" th:each="question, loop : ${paging}" th:if="${question.boardId == 1}">
            <div class="accordion-header" data-state="closed">
                <!--리뷰 ID 번호-->
                <span th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}">질문id번호</span>
                <!--질문 작성자-->
                <span th:if="${question.author != null}" th:text="${question.author.username}" style="text-align: right; margin-right: 20px"></span>
                <!--작성일-->
                <span th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></span>
                <!--수정일-->
                <span th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></span>
                <!-- 질문 제목 -->
                <span><a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a></span>
                <i class="fas fa-plus"></i>
            </div>

            <!-- 상세 게시판 -->
            <div class="accordion-content">
                <div class="detail-box">
                    <!--상세 헤드-->
                    <ul>
                        <li><span>번호</span></li>
                        <li><span>작성자</span></li>
                        <li><span>작성날짜</span></li>
                        <li><span>수정날짜</span></li>
                        <li><span>댓글 수</span></li>
                        <li><span style="color:#FF4500;">♥</span></li>
                    </ul>
                    <!--상세 헤드 내용 -->
                    <ul>
                        <li><span th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}">질문id번호</span></li>
                        <li><span th:if="${question.author != null}" th:text="${question.author.username}" style="text-align: right; margin-right: 20px"></span></li>
                        <li><span th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></span></li>
                        <li><span th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></span></li>
                        <li><span>01</span></li>
                        <li><span>01</span></li>
                    </ul>
                    <div class="body-box" style="display : flex ; margin-top : 20px ;box-shadow: 0 6px 6px -6px rgba(68, 68, 68, 0.3);   border-bottom: 2px solid #d1d1d1; padding-bottom: 10px; margin-bottom: 20px;">
                        <!--상세 바디 -->
                        <ul style="border : none ; box-shadow : none ; width : 20% ; display : flex ; justify-content :center; align-items : center; padding : 10px;">
                            <li style=" width : 100%;">
                                <span>내용</span>
                            </li>
                        </ul>
                        <!--상세 바디 내용 -->
                        <ul style="width : 100%; text-align : left;">
                            <li style=" width : 100% ; text-align : left ; padding : 10px;">
                                <span th:text="${question.content}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--아코디언 스크립트-->
    <script>
        $(document).ready(function () {
            $(".accordion-header").click(function () {
                // 클릭된 헤더 요소에서 data-state 속성 값을 가져옵니다.
                var state = $(this).attr("data-state");

                if (state === "closed") {
                    // 현재 상태가 닫힌 상태인 경우, 열기 동작 수행
                    $(this).next(".accordion-content").slideDown("slow");
                    $(this).attr("data-state", "open");
                    $(this).find("i").removeClass("fa-plus").addClass("fa-minus");
                } else {
                    // 현재 상태가 열린 상태인 경우, 닫기 동작 수행
                    $(this).next(".accordion-content").slideUp("slow");
                    $(this).attr("data-state", "closed");
                    $(this).find("i").removeClass("fa-minus").addClass("fa-plus");
                }
            });
        });
    </script>

    <!--페이지버튼-->
    <div class="festival-pagination" th:if="${paging.totalPages > 1}">
        <ul class="pagination justify-content-center">
            <!-- 이전 버튼 숨기기 -->
            <li class="page-item" th:classappend="${paging.number == 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number-1}|}"
                   th:if="${paging.number != 0}">
                    <span>&lt;</span>
                </a>
            </li>

            <!-- 페이지 번호 목록 -->
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active current-page'" class="page-item">
                <a th:text="${page + 1}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>

            <!-- 다음 버튼 숨기기 -->
            <li class="page-item" th:classappend="${paging.number == paging.totalPages-1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number+1}|}"
                   th:if="${paging.number != paging.totalPages-1}">
                    <span>&gt;</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
    <form th:action="@{/question/reply_list}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
    <!--찾기 기능 스크립트-->
    <script layout:fragment="script" type='text/javascript'>
        const page_elements = document.getElementsByClassName("page-link");
        Array.from(page_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                document.getElementById('page').value = this.dataset.page;
                document.getElementById('searchForm').submit();
            });
        });
        const btn_search = document.getElementById("btn_search");
        btn_search.addEventListener('click', function() {
            document.getElementById('kw').value = document.getElementById('search_kw').value;
            document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
            document.getElementById('searchForm').submit();
        });
    </script>
</div>
</body>
</html>